

h2{
    text-align: center;
    margin-top: 6%;
}

a{
    color: black;
}
.admissions_Noice_Information{
    margin: 6% 10% 6% 10%;
 
}

.applicationStatus_Information{
    margin-top: 5%;
}

.admissions_information{
    margin: 6% 10% 6% 10%;
}
.international_information{
    margin: 6% 10% 6% 10%;
}

.enterance_information{
    margin: 6% 10% 6% 10%;
}
.admissions_deadline_information{
    margin: 6% 10% 6% 10%;
}
.application_Materials{
    margin-bottom: 3%;
}
.countriesLowExchange{
    margin-top: 2%;
    margin-bottom: 2%;
}